# ignore

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# layout file
*.wlt

# profiler file
*.data

*.csproj
*.unityproj
*.sln

# code editor stuff
.vscode/

# except
!.gitignore
!/[Aa]ssets/**/*.meta

